.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose);
    color: #f1f5f9;
    padding: 0.5em 1em;
    border-radius: 6px;
    /* #e11d48 - rose*/
    /* #4f46e5 - indigo */
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
    /* the parameters of box shadow are: h-offset, v-offset blur and spread, and color */
    transition: all 0.3s;


}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px rgba(225, 29, 72, 0.2), 0 0 120px -10px var(--clr-rose);
}

.btn:active {
    scale: 0.95;
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid red; */
}

.section {
    margin-top: 5rem;
}

.loading {
    filter: blur(40px) grayscale(100%);
    border-radius: 5px;
}

.loaded {
    filter: blur(0) grayscale(0);
    transition: 0.7s ease-in-out;
    border-radius: 5px;

}

.bounce {
    animation: bounce;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 999;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--clr-rose);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 100%;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */

    transition: all ease-in-out 200ms;
}

.container {
    max-width: 100%;
}

#myBtn:hover {
    background-color: rgba(174, 172, 172, 0.568);
    color: var(--clr-rose);

    scale: 1.05;
    /* Add a dark-grey background on hover */
}

#myBtn svg {
    width: 20px;
}


@keyframes bounce {
    0% {}
}

/* everything we put outside the media queries will be for screens smaller than 475px */
/* xs */
@media (min-width: 475px) {}

/* styles under this will be applied after the screen reaches a min width of 475px */

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {


    .section {
        margin-top: 10rem;
    }

}

/* xl */
@media (min-width: 1280px) {}

/* 2xl */
@media (min-width: 1536px) {}


/* @media (min-width: 475px) {}

/* ||MEDIA QUERIES */
/* styles under this will be applied after the screen reaches a min width of 475px */

/* @media (min-width: 475px) {}

@media (min-width: 640px) {}


@media (min-width: 768px) {}


@media (min-width: 1024px) {}


@media (min-width: 1280px) {}


@media (min-width: 1536px) {} */